<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag ---------->

<container>
  <table class="table table-striped table-hover js-table">
    <thead>
      <tr>
        <th>번호</th>
        <th>쿠폰 내역</th>
        <th>유효 기간</th>
        <th>발급 일자</th>
      </tr>
    </thead>
    <tbody>
        <%
          for(var i=0;i<row.length;i++)
          {
            var oneItem=row[i];
        %>
            <tr>
              <td><%=i%></td>
              <td><a href="#"><%=oneItem.coupontype%></td>
              <td><%=oneItem.end_date%></a></td>
              <td><%=oneItem.start_date%></td>
            </tr>
        <%
          }
        %>
</tbody>
  </table>
</container>
