<!-- 희라: 회원가입 -->
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PITAPET - Join</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <style>
  body {
    padding-top: 54px;
    align: center;
  }
  @media (min-width: 1000px) {
    body {
      padding-top: 56px;
      align: center;
    }
  }

  </style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">PITAPET</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/productBoard" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Shop
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="/productBoard/list/1">Dog Food</a>
              <a class="dropdown-item" href="portfolio-2-col.html">Dog Clothes</a>
              <a class="dropdown-item" href="portfolio-3-col.html">Dog House</a>
              <a class="dropdown-item" href="portfolio-4-col.html">Dog Snack</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/infoboard">Community</a>
          </li>
          <%
          if(id == null){
            %>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <%
          }
          else{
            %>
            <li class="nav-item">
              <a class="nav-link" href="/cart">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users">Mypage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login/logout">Logout</a>
            </li>
            <%
          }
          %>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div style="margin-top:20px;background-color:#FFFFFF;">
        <form id ="join" action="/join" enctype="multipart/form-data" method="post">
          <h2>회원가입 <small>반려동물의 정보와 함께 더 쉽게 쇼핑하세요.</small></h2>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" name="id" id="id" class="form-control input-lg" placeholder="아이디" tabindex="1" required>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="password" name="passwd" id="last_name" class="form-control input-lg" placeholder="비밀번호" tabindex="2" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" name="name" id="name" class="form-control input-lg" placeholder="이름" tabindex="3" required>
          </div>
          <div class="form-group">
            <input type="text" name="petname" id="petname" class="form-control input-lg" placeholder="반려동물 이름" tabindex="3" required>
          </div>
          <div class="form-group">
            <input type="email" name="email" id="email" class="form-control input-lg" placeholder="이메일" tabindex="4" required>
          </div>
          <div class="form-group">
            <input type="text" name="address" id="address" class="form-control input-lg" placeholder="주소" tabindex="6" required>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <h5>전화번호</h5>
                <input type="hidden" name="tel" id="tel" required>
                <select name="tel1" id="tel1" >
                  <option value="010">010</option>
                  <option value="011">011</option>
                  <option value="016">016</option>
                  <option value="017">017</option>
                  <option value="018">018</option>
                  <option value="019">019</option>
                </select>
                -
                <input type="text" name="tel2" id="tel2" size="4" maxLength="4" required>
                -
                <input type="text" name="tel3" id="tel3" size="4" maxLength="4" required>
              </div>
              <div class="form-group">
                <h5> 성별 :
                  <input type="radio" name="gen" value="남" required> 남
                  <input type="radio" name="gen" value="여" required> 여</h5>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <h5> 반려동물 성별 :
                    <input type="radio" name="petgen" value="남"required > 남
                    <input type="radio" name="petgen" value="여"required> 여</h5>
                  </div>
                  <div class="form-group">
                    <h5> 반려동물 종류 :
                      <input type="radio" name="pettype" value="cat"required > 고양이
                      <input type="radio" name="pettype" value="dog"required> 강아지</h5>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="text" name="birth" id="birth" maxLength="8" class="form-control input-lg" placeholder="생년월일"required>*YYYYMDD</td>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="text" name="petbirth" id="petbirth" maxLength="8" class="form-control input-lg" placeholder="반려동물 생년월일"required>*YYYYMDD</td>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <h5>반려동물 사진 :
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="file" name="pic" id="pic"/></h5>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <input type="text" name="petage" maxLength="10" class="form-control input-lg" placeholder="반려동물 나이"required>
                  </div>
                  <!-- Select Multiple -->
                  <!-- Multiple Checkboxes -->
                  <div class="form-group">
                    <div class="row">
                    <h5>관심사를 선택해주세요:    </h5>
                        <div class="checkbox" style="padding-left:15px">
                          <label for="checkbox-0">
                            <input type="checkbox" name="checkbox0" id="checkbox-0" value="1">
                            눈물 개선
                          </label>
                        </div>
                        <div class="checkbox" style="padding-left:5px">
                          <label for="checkbox-1">
                            <input type="checkbox" name="checkbox1" id="checkbox-1" value="2">
                            관절 개선
                          </label>
                        </div>
                        <div class="checkbox" style="padding-left:5px">
                          <label for="checkbox-2">
                            <input type="checkbox" name="checkbox2" id="checkbox-2" value="3">
                            모질 개선
                          </label>
                        </div>

                        <div class="checkbox" style="padding-left:5px">
                          <label for="checkbox-3">
                            <input type="checkbox" name="checkbox3" id="checkbox-3" value="4">
                            다이어트
                          </label>
                        </div>
                      </div>

                  </div>
                  <div class="col-xs-8 col-sm-9 col-md-9">
                    By clicking <strong class="label label-primary">Register</strong>, you agree to the Terms and Conditions</a> set out by this site, including our Cookie Use.
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6"><input type="submit" value="Register" style="background-color:#C593FF;" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                    <div class="col-xs-12 col-sm-6 col-md-6"><a href="/login" style="background-color:#FF80B5;" class="btn btn-success btn-block btn-lg">Sign In</a></div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- Bootstrap core JavaScript -->
          <script src="vendor/jquery/jquery.min.js"></script>
          <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        </body>

        </html>
