<!DOCTYPE html>
<html>
<head>
  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <title><%=title%></title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
  <h1><%=title%></h1>
  <form action="/login" method="post" onsubmit="return onWriteSubmit()">
    <table>
        <td colspan="2">
          <input type="button" value="돌아가기" onClick="location.href='/'">
          <input type="button" value="로그아웃 - 메인 페이지로 옮길 예정" onClick="location.href='/login/logout'">
          <input type="button" value="마이페이지 - 메인 페이지로 옮길 예정" onClick="location.href='/users'">
      </tr>
    </table>
  </form>
</body>
</html>
