<!-- 희라: 마이페이지 -->
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PITAPET - My Page</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="/">PITAPET</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login/logout">logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/productBoard">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/infoboard">Community</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center" style="background: url(http://localhost:3000/user/petimg/<%=row.pic%>);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5"><%=row.name%>님 환영합니다.</h1>
          </div>
          <div class="col-xl-9 mx-auto">
            <a class="btn " style="width:100px; color:#ffff; background-color:transparent;" href="#"><h3><span>적립금<br><small>0 원</small></span></h3></a>
            <a class="btn " style="width:100px; color:#ffff; background-color:transparent;" href="#"><h3><span>쿠폰<br><small>0 개</small></span></h3></a>
          </div>
        </div>
      </div>
    </header>

  <!-- Related Projects Row -->
  <div class="row" align="center" style="padding-left: 30px; padding-right: 30px; padding-top: 30px; padding-bottom: 30px;">
    <div class="col-md-3 col-sm-6 mb-4">
      <h3 class="my-3">주문내역</h3>
      <a href="#">
        <img class="img-fluid" style="width: 200px; height:auto;" src="http://localhost:3000/icons/list.png" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <h3 class="my-3">장바구니</h3>
      <a href="#">
        <img class="img-fluid" style="width: 200px; height:auto;" src="http://localhost:3000/icons/shopping-bag.png" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <h3 class="my-3">정보조회</h3>
      <a href="/users/view">
        <img class="img-fluid" style="width: 200px; height:auto;" src="http://localhost:3000/icons/user.png" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <h3 class="my-3">혜택관리</h3>
      <a href="#">
        <img class="img-fluid" style="width: 200px; height:auto;" src="http://localhost:3000/icons/search.png" alt="">
      </a>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- Footer -->
<footer class="footer bg-dark">
  <div class="container">
    <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; PITAPET 2018. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
