<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag ---------->

<container>
  <table class="table table-striped table-hover js-table">
    <thead>
      <tr>
        <th>번호</th>
        <th>포인트 내역</th>
        <th>포인트 금액</th>
        <th>날짜</th>
      </tr>
    </thead>
    <tbody>
      <%
        for(var i=0;i<rows.length;i++)
        {
          var oneItem=rows[i];
      %>
          <tr>
            <td><%=i%></td>
            <td><a href="#"><%=oneItem.order_num%></td>
            <td><%=oneItem.point%></a></td>
            <td><%=oneItem.date%></td>
          </tr>
      <%
        }
      %>
</tbody>
  </table>
</container>
