<!DOCTYPE html>
<html>
<head>
  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
  <style>
    #write_table {
      width: 70%;
    }
  </style>
</head>
<body>
  <h1><%= title %></h1>

  <div id="write_table">
  <form action="/infoboard/write_info" method="post" onsubmit="return onWriteSubmit()" enctype='multipart/form-data'>
    <table border="1" class="table table-striped table-bordered" width="500">
      <tr>
        <td>작성자</td>
        <td><input type="text" name="creator_id" id="creator_id" required/></td>
      </tr>
      <tr colspan="2">
        <td>제목</td>
        <td><input type="text" name="title" id="title" required/></td>
      </tr>
      <tr colspan="4">
        <td>내용</td>
        <td><textarea name="content" id="content" cols="30" rows="10" required></textarea></td>
      </tr>
      <tr colspan="2">
        <td>이미지</td>
        <td>
          <input type="file" name="image" id="image"/>
        </td>
      </tr>
      <tr>
        <td>패스워드</td>
        <td><input type="password" name="passwd" id="passwd" required/></td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit" class="btn">글쓰기</button>
        </td>
      </tr>
    </table>
  </form>
  </div>

  <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
  <script>
    function onWriteSubmit()
    {
      if( $("#creator_id").val().trim()=="")
      {
        var message = "아이디를 입력해 주세요";
        $("#creator_id").val("");
        $("#creator_id").focus();
        alert(message);
        return false;
      }

      if($("#title").val().trim()=="")
      {
        var message = "제목을 입력해 주세요";
        $("#title").val("");
        $("#title").focus();
        alert(message);
        return false;
      }

      if($("#content").val().trim()=="")
      {
        var message = "본문 내용을 입력해 주세요";
        $("#content").val("");
        $("#content").focus();
        alert(message);
        return false;
      }

      if($("#passwd").val().trim()=="")
      {
        var message = "패스워드를 입력해 주세요";
        $("#passwd").val("");
        $("#passwd").focus();
        alert(message);
        return false;
      }
    }

    $('#image').on('change', function() {

        ext = $(this).val().split('.').pop().toLowerCase(); //확장자

        //배열에 추출한 확장자가 존재하는지 체크
        if($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
            resetFormElement($(this)); //폼 초기화
            window.alert('이미지 파일이 아닙니다! (gif, png, jpg, jpeg 만 업로드 가능)');
        } else {
            file = $('#image').prop("files")[0];
            blobURL = window.URL.createObjectURL(file);
            $('#image_preview img').attr('src', blobURL);
            $('#image_preview').slideDown(); //업로드한 이미지 미리보기
            $(this).slideUp(); //파일 양식 감춤
        }
    });

    </script>

  </body>
  </html>
