<!DOCTYPE html>
<html>
  <head>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <title><%= title %></title>
    <link rel='stylesheeet' href = '/stylesheets/style.css'/>
  </head>
  <body>
    <h1><%= title%></h1>
    <form action="/productBoard/write" method="post" onsubmit="return onWriteSubmit()" enctype = "multipart/form-data">
      <table border="1">
        <tr>
          <td>상품 사진</td>
          <td><input type="file" name="image" id="image" accept="image/*" required/></td>
        <tr>
          <td>상품 이름</td>
          <td><input type="text" name="prd_name" id="prd_name" required/></td>
        </tr>
        <tr>
          <td>가격</td>
          <td><input type="text" name="price" id="price" required/></td>
        </tr>
        <tr>
          <td colspan = "2">
            <button type="upload">완료</button>
          </td>
        </tr>
      </table>
    </form>
    <script>
      function onWriteSubmit() {
        if($("#prd_name").val().trim()=="") {
          var message = "상품명을 입력해 주세요";
          $("#prd_name").val("");
          $("#prd_name").focus();
          alert(message);
          return false;
        }
        if($("#price").val().trim()=="") {
          var message = "가격을 입력해 주세요";
          $("#price").val("");
          $("#price").focus();
          alert(message);
          return false;
        }
        if($("#image").val().trim()=="") {
          var message = "이미지를 업로드해 주세요";
          $("#image").val("");
          $("#image").focus();
          alert(message);
          return false;
        }
      }
    </script>
  </body>
</html>
